{
	% load static %
}

<style></style>< !-- Specific CSS goes HERE --> {
	% block stylesheets %
}

<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"> {
	% endblock stylesheets %
}

< !-- Specific JS goes HERE --> {
	% block javascripts %
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> {
	% endblock javascripts %
}

<div class="container-fluid"></div>
